/* snowStyles.css */
.snowfall {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* border: red 3px solid; */
  }
  
  .flower {
    position: absolute;
    width: 50px;
    height: 50px;
    /* Add a transition to the transform property */

}