.swirly-hand-animation .forward {
  animation: 
    fillColor 15s ease-in-out 6s forwards;
}

@keyframes fillColor {
  0%, 100% {
    fill: #f8d7d7; /* n/a */
    fill-opacity: 0; 
  }
  15% {
    fill: #fcb7b1; /* red */
    fill-opacity: .75;
  }
  30% {
    fill: #f9c794; /* orange */
    fill-opacity: .80;
  }
  45% {
    fill: #fff99f; /* Yellow */
    fill-opacity: 1;
  }
  60% {
    fill: #c9e094; /* green */
    fill-opacity: .80;
  }
  75% {
    fill: #99ccdd; /* blue */
    fill-opacity: .75;
  }
  90% {
    fill: #d3b2de; /* purple */
    fill-opacity: .5;
  }
}