/* app.css */
body {
  font-family: 'Baloo 2', cursive;
  overflow: auto;
  position: relative; 
  background-image: url('../src/assets/BG_mobile.webp');
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    background-image: url('../src/assets/BG_desktop.webp');
  }
}

#NavLinks {
  font-family: "Cherry Bomb One", cursive;
  /* font-size: 3em; */
  font-size: clamp(1.5em, 2vw, 5em);
}

p, h1, h2 {
  color: #3f2a1c;
}

.text-shadow-effect {
  text-shadow:
    1px 1px 0 #c9e094,
    -1px -1px 0 #c9e094,
    1px -1px 0 #c9e094,
    -1px 1px 0 #c9e094,
    1px 0px 0 #c9e094,
    0px 1px 0 #c9e094,
    -1px 0px 0 #c9e094,
    0px -1px 0 #c9e094;
}