/* .hi {
  color: rgb(0, 255, 21);
} */

body {
  background-color: #fffbeb;

  /* lime 100 */
  /* background-color: #ecfccb;  */
  background-color: #f8ffe7; 
  /* background-color: white;  */

  /* lime 200 #d9f99d */

}